<div class="page-header">
  <h3>Meus Itens de Reunião</h3>
</div>

<div class="page-search">
  <%= render :partial => 'share/form_search', :locals => { :controller => "meeting_items",
                                                           :action => "index",
                                                           :btnFilter => "btnFilterMeetingItem" } %>
</div>

<%= render :partial => 'meeting_items/grid' %>