/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#push{
    height: 50px;
}

.container .credits {
    margin: 5px 0;
}

.credits {
    /*position: absolute;*/
    padding: 0;
    text-align: center;
    aling: center;
    /*left: 0;
    width: 200px;*/
}

#footer .container{
    /*background-color: #272B35;*/
    background-color: #EFEFEF;
    color: white;
    min-height: 100%;
    width: auto !important;
    width: 100%;
    margin-top: 0px;
}