// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#no_priority {
  color: red;
  text-align: center;
}

#completed {
  color: blue;
  text-align: center;
}

#space {
  color: white;
  text-align: center;
}